<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/BasicHEART" version="1.0.0" viewmodes="maximized">
    <access origin="http://songsfyp2016.byethost7.com/iframe.php" subdomains="true"/>
    <access origin="http://songsfyp2016.byethost7.com" subdomains="true"/>
    <tizen:application id="wHoL6gF7Fs.BasicHEART" package="wHoL6gF7Fs" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>BasicHEART</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
